/* /*
colors we are using
skyblue:#94cbff
purple:#2f0468
faint purple: #6509dc

.btn{
    height: 40px;
    background-color: ;
    border: none;
    border-radius: 10px;
    color: #3b1b65;
    font-size: 15px;
    font-weight: bolder;

    google fonts :
   PT serif
   single day
<<<<<<< HEAD
 sans-serif;*/
 @import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Courgette&display=swap');

=======
<<<<<<< HEAD
 sans-serif;
*/
  

 @import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Courgette&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Courgette&display=swap');
>>>>>>> 53df389e1e783eddc8c1969b8d7e38c2fb8d9844

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 0px;
    background-color: #6509dc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a{
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-left: 40px;
}
.a:hover{
    border-bottom: 1px solid black;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}
.cat-img{
    height: 300px;
    border-radius: 25px;
}
.card{
    border-radius: 10px;
    width: 300px;
    height: 185px;
<<<<<<< HEAD
  
=======
    border: 1px solid #2f0468;
>>>>>>> 53df389e1e783eddc8c1969b8d7e38c2fb8d9844
}
.cat-name{
    text-align: center;
    color:#2f0468;
}
.cat-about{
    display: flex;
    justify-content: start;
    align-items: center;
}
.cat-description{
    display: flex;
    justify-content: start;
    align-items: center;

}
.card-body{
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2f0468;
    
}
.rating-img{
    height: 100px;
}
.card-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.container{
    position: relative;
<<<<<<< HEAD
=======
}
.btn {
    margin: 10px -10px;
    padding: 10px 20px;
    color: #6d32bb;
    font-weight: bold;
    text-decoration: none;
    border:solid 2px #6d32bb;
    border-radius: 15px;
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
>>>>>>> 53df389e1e783eddc8c1969b8d7e38c2fb8d9844
    border-radius: 25px;
    border: 1px solid #6d32bb;
    box-shadow: 0px 0px 8px 1px black;
    background-color: white;
}

.container:hover{
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

.btn{
    height: 40px;
    background-color: #ba9ae4;
    border: none;
    border-radius: 10px;
    color: #2f0468 ;
    font-size: 15px;
    font-weight: bolder;
    transition: 0.3s ease-out;
}

.btn:hover{
    background-color: #6d32bb;
    color: white;
    transition: 0.3s ease;
}

.button{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -20px;
    left: 85px;
}

.btn:hover{
   background-color: #3b1b65;
   color:#94cbff;
}
body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
.navbar{
    background-color: #94cbff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 80px;
}
.nav-text{
    color: #2f0468;
    text-decoration: none;
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
}
.nav-text:hover{
    color: #94cbff;
    background-color: #2f0468;
    border-radius: 20px;
    transition: 0.4s;
}
<<<<<<< HEAD
         
=======
.footer{
    margin-top: 30px;
    background-color: #94cbff;
    padding: 20px;
}
.footer-container{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.card{
    display: block;
}
.footer-main-logo{
    width: 250px;
}
.footer-logo-section{
    width: 250px;
    color: #2f0468;
    margin-top: 20px;
}
.footer-contact{
    width: 300px;
}
.quick-links-contain{
    text-decoration: none;
    color: #2f0468;
}
.footer-social{
    text-align: center;
}
.social-text{
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.contact-info{
    color: #2f0468;
    display: flex;
    margin-top: 10px;
}
.contact-text{
    text-decoration: none;
    color: #2f0468;
    margin-left: 10px;
}
h4{
    font-size: 22px;

}
        
>>>>>>> 53df389e1e783eddc8c1969b8d7e38c2fb8d9844
/* whatsspp call us section  */
.wapp-call-us-div{
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 200;
}

.wapp-call-us-img{
    width: 60px;
    transition: transform 0.3s ease;
}

.wapp-call-us-div:hover .wapp-call-us-img{
    transform: scale(1.1);
}   

.learn-more-button {
    padding: 10px 20px;
    color: #6d32bb;
    font-weight: bold;
    text-decoration: none;
    border:solid 2px #6d32bb;
    border-radius: 15px;
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.learn-more-button:hover {
    background-color: #6d32bb;
    color: white;
    transition: 0.3s ease;
}

  /*******************************/

.dropdown-container {
    display: flex;
    flex-direction: row;
    background-color: #6d32bb;
    justify-content: space-around;
}
.dropdown-container-heading{
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    margin-top: -16px;
    background-color: #2f0468;
    color: white;
    font-size: 25px;
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  .dropdown-section {
    width: 100%;
    
}
  
  .dropdown-container h2 {
    margin-bottom: 10px;
    
  }
  
  select {
    text-align: center;
    width: 100%;
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding: 15px;
    background-color: #2f0468;
    border: none;
    color: white;
}
  
.select option {
   width: 100%;
   font-family: "Aclonica", sans-serif;
   font-weight: 400;
   font-style: normal;
    background-color: #94cbff;
    color: white;
  }
.select option:checked{
    background-color: #2f0468;
    font-weight: bolder;
}
