/* hello friends 
   colours we are using are
   #FFFFFF
   rgb(120, 154, 250);
   #94cbff
   #2f0468
   #6509dc

  google fonts :
   PT serif
   single day
 sans-serif;*/
 
 @import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Courgette&display=swap');
 
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 0px;
    background-color: rgb(120, 154, 250);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a{
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-left: 40px;
}
.a:hover{
    border-bottom: 1px solid black;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 400px;
}
.cat-img{
    height: 300px;
    border-radius: 5px;
}
.card{
    border-radius: 10px;
    width: 300px;
    height: 185px;
    border: 1px solid #6d32bb;
}
.cat-name{
    text-align: center;
    color: #6d32bb;
}
.cat-about{
    display: flex;
    justify-content: start;
    align-items: center;
}
.cat-description{
    display: flex;
    justify-content: start;
    align-items: center;
}
.card-body{
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.rating-img{
    height: 100px;
}
.card-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container{
    position: relative;
}
.btn{
    height: 40px;
    background-color: #ba9ae4;
    border: none;
    border-radius: 10px;
    color: #3b1b65;
    font-size: 15px;
    font-weight: bolder;
}
.button{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -20px;
    left: 100px;
}
body{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #94cbff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 80px;
}
.nav-text{
    color: #2f0468;
    text-decoration: none;
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
}
.nav-text:hover{
    color: #94cbff;
    background-color: #2f0468;
    border-radius: 20px;
    transition: 0.4s;
}
.footer{
    margin-top: 30px;
    background-color: #94cbff;
    padding: 20px;
}
.footer-container{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.card{
    display: block;
}
.footer-main-logo{
    width: 250px;
}
.footer-logo-section{
    width: 250px;
    color: #2f0468;
    margin-top: 20px;
}
.footer-contact{
    width: 300px;
}
.quick-links-contain{
    text-decoration: none;
    color: #2f0468;
}
.footer-social{
    text-align: center;
}
.social-text{
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.contact-info{
    color: #2f0468;
    display: flex;
    margin-top: 10px;
}
.contact-text{
    text-decoration: none;
    color: #2f0468;
    margin-left: 10px;
}
h4{
    font-size: 22px;

}