.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 0px black;
}
.main-logo{
    height: 80px;
    margin-left: 20px;
}
.nav-btn{
    color: #3b1b65;
    text-decoration: none;
    font-size: 20px;
}
.nav-logo{
    width: 500px;
}
.nav-icon{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.logo-home{
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid black;
}
.signup-login{
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.head-img{
    height: 300px;
}
.cat-list{
    color: #3b1b65;
    width: 100px;
    padding: 20px 30px;
    background-color: #ffff;
    border-radius: 20px 20px 60px 20px;
}
.head-home{
    border-right: 2px solid white;
    color: #ffff;
    text-decoration: none;
    font-size: 20px;
}
.head-cat-list{
    color: white;
    font-size: 20px;
}
.head-home-catlist{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
}
.head-left{
    height: 300px;
    width: 350px;
    background-color: black;
}
.head{
    display: flex;
}
.cat-list-btn{
    margin-left: 190px;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.cat-img{
    height: 300px;
    border-radius: 5px;
}
.card{
    border-radius: 10px;
    width: 300px;
    height: 185px;
    border: 1px solid #6d32bb;
}
.cat-name{
    font-size: 28px;
    text-align: center;
    color: #6d32bb;
}
.cat-about{
    display: flex;
    justify-content: start;
    align-items: center;
}
.cat-description{
    display: flex;
    justify-content: start;
    align-items: center;
}
.card-body{
    margin: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.rating-img{
    height: 100px;
}
.card-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container{
    position: relative;
}
.btn{
    height: 40px;
    background-color: #ba9ae4;
    border: none;
    border-radius: 10px;
    color: #3b1b65;
    font-size: 15px;
    font-weight: bolder;
}
.button{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -20px;
    left: 100px;
}
