/* hello friends 
   colours we are using are
   #FFFFFF
   rgb(120, 154, 250);
   #94cbff
   #2f0468

  google fonts :
   PT serif
   single day
 sans-serif;
 
 <div class="nav-bar">
        <div class="logo-home">
            <div class="nav-logo">
                <img src="../img/main_logo.jpg" class="main-logo">
            </div>
            <div class="nav-icon">
                <a href="../index.html" class="nav-btn home">Home</a>
                <i class="fa-solid fa-magnifying-glass" style="color: #3b1b65;"></i>
                <i class="fa-solid fa-cart-shopping" style="color: #3b1b65;"></i>
            </div>
        </div>
        <div class="signup-login">
            <a href="sign_up.html" class="nav-btn signup">Sign Up</a>
            <a href="login.html" class="nav-btn login">Login</a>
        </div>
        
        <div class="head">
        <div class="head-left">
            <div class="cat-list-btn">
                <h2 class="cat-list">Cat List</h2>
            </div>
            <div class="head-home-catlist">
                <div class="Head-Home">
                    <a href="../index.html" class="head-home">Home</a>
                </div>
                <div class="Head-catlist">
                    <p class="head-cat-list">Cat List</p>
                </div>
            </div>
        </div>
    
        <div class="head-right">
            <img src="../img/cat_background.jpg" class="head-img">
        </div>

    </div>*/

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.cat-img{
    height: 300px;
    border-radius: 5px;
}
.card{
    border-radius: 10px;
    width: 300px;
    height: 185px;
    border: 1px solid #2f0468;
    padding:2%;
}
.cat-name{
    font-size: 28px;
    text-align: center;
    color: #2f0468;
    @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Single+Day&display=swap');
  font-family: 'Single Day', cursive;

}
.cat-about{
    display: flex;
    justify-content: start;
    align-items: center;
}
.cat-description{
    display: flex;
    justify-content: start;
    align-items: center;
}
.card-body{
    margin: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2f0468;
}
.rating-img{
    height: 100px;
}
.card-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container{
    position: relative;
}
.btn{
    height: 30px;
    background-color:white;
    border:2px solid #2f0468;
    border-radius: 10px;
    color: rgb(120, 154, 250);
    font-size: 13px;
    font-weight:bolder;
    
}
.button{
    display:flex;
    justify-content: center;
    position: absolute;
    bottom: -20px;
    left: 100px;
    
    
}
.btn:hover {
    background-color:#94cbff;
    color:white;
}
* {
    margin: 0;
    padding: 0;
}


nav {
    background-color:#94cbff;
    color:#2f0468; 
    
}

nav ul {
    list-style: none; 
    display: flex; 
    
}

nav ul li {
    margin-right: 60px; 
    padding: 2%;
    
    
}

nav ul li a {
    text-decoration:dashed ;
    color:#2f0468;
    font-size: 17px;
    
    
}

nav ul li a:hover {
    color:black;
    text-decoration: underline; 
    
}
.head-name{
    float: right;
    position:fixed;
    top:0;
    right:0;
    padding-top: 1%;
    padding-right: 3%;
    font-size: 28px;
    
  @import url ('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
  font-family: 'Courgette', cursive;
}

        