/* hello friends 
   colours we are using are
   #FFFFFF
   rgb(120, 154, 250);
   #94cbff
   #2f0468

  google fonts :
   PT serif
   single day
 sans-serif;*/
 

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 0px;
    background-color: rgb(120, 154, 250);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a{
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-left: 40px;
}
.a:hover{
    border-bottom: 1px solid black;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 400px;
}
.cat-img{
    height: 300px;
    border-radius: 5px;
}
.card{
    border-radius: 10px;
    width: 300px;
    height: 185px;
    border: 1px solid #6d32bb;
}
.cat-name{
    text-align: center;
    color: #6d32bb;
}
.cat-about{
    display: flex;
    justify-content: start;
    align-items: center;
}
.cat-description{
    display: flex;
    justify-content: start;
    align-items: center;
}
.card-body{
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.rating-img{
    height: 100px;
}
.card-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container{
    position: relative;
}
.btn{
    height: 40px;
    background-color: #ba9ae4;
    border: none;
    border-radius: 10px;
    color: #3b1b65;
    font-size: 15px;
    font-weight: bolder;
}
.button{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -20px;
    left: 100px;
}
        