@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Courgette&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Aclonica", sans-serif;
  background-color: white;
  font-weight: 400;
}

.navbar {
  background-color: #94cbff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 80px;
}

.nav-text {
  color: #2f0468;
  text-decoration: none;
  font-size: 18px;
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
}

.nav-text:hover {
  color: #94cbff;
  background-color: #2f0468;
  border-radius: 20px;
  transition: 0.4s;
}

.contact-container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #2f0468;
}

.contact-container:hover {
    border-radius: 10px;
    box-shadow: 0px 0px 20px 3px black;
}

.contact-img {
  flex: 1 1 50%;
  box-sizing: border-box;
  padding: 40px 40px;
}

.dog-img {
/*  width: 400px;*/
  height: 350px;
}

.contact-form {
  flex: 1 1 50%;
  box-sizing: border-box;
  padding: 40px 0 0 40px;
}

.info {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid #2f0468;
    padding: 10px;
}

.info:hover {
    border-radius: 10px;
    box-shadow: 0px 0px 20px 3px black;
    overflow: hidden;
}

.basic {
  flex: 1 1 50%;
  box-sizing: border-box;
  text-align: start;
}

.maps {
  flex: 1 1 50%;
  box-sizing: border-box;
}
h1{
     text-align: center; 
}
h1:hover{
    transform: rotate(360deg);
    transition: all 0.8s ease;
}
.Contact{
    display: grid;
    row-gap: 1rem;
}

.Contact textarea{
    resize: none;
    height: 200px;
}

.d {
    background-color: #94cbff;
    color: #2f0468;
    border: none;
    border-radius: 30px;
    padding: 20px;
    font-family: "Aclonica", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    width: 120px;
}
.d:hover{
    text-align: center;
    background-color: #2f0468;
    border-radius: 25px;
    color: #94cbff;
}
.int{
    border: 1.6px solid black;
    height: 30px;
    padding: 5px 0px 5px 20px;
    margin-left: 5px;
    width: 400px;
    border-radius: 7px;
}
.int1{
    border: 1.6px solid black;
    padding: 20px 0px 5px 20px;
    margin-left: 5px;
    width: 400px;
    border-radius: 7px;
    height: 100px;
}
.footer{
    margin-top: 30px;
    background-color: #94cbff;
    padding: 20px;
}
.footer-container{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.card{
    display: block;
}
.footer-main-logo{
    width: 250px;
}
.footer-logo-section{
    width: 250px;
    color: #2f0468;
    margin-top: 20px;
}
.footer-contact{
    width: 300px;
}
.quick-links-contain{
    text-decoration: none;
    color: #2f0468;
}

.quick-links  a {
    
    text-transform: capitalize;
    color: #2f0468;
    text-decoration: none;
    transition: all 0.3s ease;
}
.quick-links  a:hover{
    color: #2f0468;
    padding-left: 8px;
}

.footer-social{
    text-align: center;
}

.social-text{
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.contact-info{
    color: #2f0468;
    display: flex;
    margin-top: 10px;
    transition: all 0.3s ease;
}
.contact-info:hover{
    padding-left: 8px;
}
.contact-text {
    color: #2f0468;
    transition: all 0.5s ease;
}
.contact-text:hover{
    padding-left: 12px;
}
.contact-text1{
    color: #2f0468;
}

/* Media Queries */
@media screen and (max-width: 800px) {
  /* img + form */
  .contact-container {
    width: 768px;
    margin: auto;
    flex-wrap: wrap;
  }
  .contact-img {
    width: 700px;
    margin: auto;
  }
  .contact-form {
    width: 700px;
    margin: auto;
  }
  .dog-img {
    width: auto;
    height: auto;
  }

  /* contact + map */
  .info {
    width: 768px;
    margin: auto;
    flex-wrap: no-wrap;
  }
  .basic {
    width: 700px;
    margin: auto;
    text-align: start;
  }
  .maps {
    width: 700px;
    margin: auto;
  }
}
@media screen and (max-width: 800px){
    .hamburger{
        visibility: visible;
        height: 40px;
    }
    .nav-text{
        display: none;
    }
    .logo{
        height: 50px;
    }
    .head{
        font-size: 14px;
        margin: 8px 0px;
    }
    .head-img{
        height: 280px;
    }
    .head-left{
        padding: 10px;
    }
    .btn{
        padding: 15px;
        font-size: 13px;
    }
    .footer-container{
        flex-wrap: wrap;
    }
    .footer-social{
        margin-left: 10px;
    }
    .quick-links{
        margin-right: 160px;
    }
    .footer-contact{
        margin-left: 50px;
    }
    .section{
        flex-wrap: wrap;
        margin: 0;
    }
    .section-icon{
        height: 100px;
    }
    .section-card{
        margin: 10px 100px;
        flex-wrap: wrap;
        width: 150px;
        padding: 20px;
    }
}
@media screen and (min-width: 800px) and (max-width: 992px){
    .hamburger{
        display: none;
    }
    .logo{
        height: 60px;
    }
    .nav-text{
        font-size: 17px;
        padding: 15px 13px;
    }
    .head{
        font-size: 15px;
        margin: 10px;
    }
    .head-img{
        height: 350px;
    }  
    .btn{
        padding: 17px;
        font-size: 14px;
    }
}
@media screen and (min-width: 992px){
    .hamburger{
        display: none;
    }
}

