@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Courgette&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2f0468;
}
.form {
    position: relative;
    width: 500px;
    height: 700px;
    background-color: transparent;
    border: 3px solid #2f0468;
    background-color:#94cbff;
    border-radius: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2rem 3rem;
    margin: 5% auto;
    box-shadow: 0px 4px 8px 0px #2f0468;
  }
  .form:hover {
    box-shadow: 0 5px 28px #2f0468;
    transform: translateY(-6px); 
    color: #94cbff;
    transition: 0.3s;
  }
  .login {
    width: 350px;
  }
  h1 {
    font-size: 3.5rem;
    color: #2f0468;
    text-align: center;
  }
  h1:hover{
      transform: rotate(360deg);
      transition: all 0.8s ease;
  }
  .inputbox {
    position: relative;
    margin: 40px 0;
    max-width: 450px;
    border-bottom: 2px solid #2f0468;
  }
  .inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #2f0468;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.4s ease-in-out;
  }
  input:focus ~ label,
  input:valid ~ label {
    left: -108px;
  }
  .inputbox input {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.1rem;
    padding: 0 15px 0 5px;
    color: #2f0468;
  }
  .inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2rem;
    top: 20%;
  }
  .forgot {
    margin: 35px 0;
    font-size: 0.85rem;
    color: #2f0468;
    display: flex;
    justify-content: space-between;
  }
  .forgot label {
    display: flex;
    align-items: center;
  }
  .forgot label input {
    margin-right: 3px;
  }
  .forgot a {
    color: #2f0468;
    text-decoration: none;
    font-weight: 600;
  }
  .forgot a:hover {
    text-decoration: underline;
  }
  button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color:#2f0468;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
    color: #94cbff;
  }
  button:hover {
    background-color: #6509dc;
  }
  .register {
    font-size: 0.9rem;
    color: #2f0468;
    text-align: center;
    margin: 25px 0 10px;
  }
  .register p a {
    text-decoration: none;
    color: #2f0468;
    font-weight: 600;
  }
  .register p a:hover {
    text-decoration: underline;
  }

  
