* {
    margin: 0;
    padding: 0;
}


nav {
    background-color:#94cbff;
    color:#2f0468; 
    
}

nav ul {
    list-style: none; 
    display: flex; 
    
}

nav ul li {
    margin-right: 60px; 
    padding: 2%;
    
    
}

nav ul li a {
    text-decoration:dashed ;
    color:#2f0468;
    font-size: 17px;
    
    
}

nav ul li a:hover {
    color:black;
    text-decoration: underline; 
    
}
.head-name{
    float: right;
    position:fixed;
    top:0;
    right:0;
    padding-top: 1%;
    padding-right: 3%;
    font-size: 28px;
    
  @import url ('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
  font-family: 'Courgette', cursive;
}
    
    
    
    
.banner{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    background-color: white;
    padding-top: 40px;
    height: 80vh;
}

.banner-2{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    padding-top: 40px;
    height: 80vh;

}

.banner-child-2{
    
    border-radius: 20px;
    width:285px;
    margin: 15px;
    height: 500px;
    position: relative;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 253, 253);
}


.banner-child-2 h2{
    color:rgb(120, 154, 250);
    position: absolute;
    border-radius:50%;
    padding: 50px;
    left: 60px;
    bottom: 100px;
    
    background-color: white;
    
    border-top: solid 2px #2f0468;
}

.banner-img-2{
    width: 100%;
    border-bottom: solid 2px grey;

}
.banner-child h2{
    color: #2f0468;
    margin: 50px;
    height: 50px;
}
.banner-child{
    width: 400px;
    justify-items: center;
    text-align: center;
}

.banner-child p{
    color:rgb(120, 154, 250);
    font-weight: bolder;
    line-height: 1.8;
    padding: 15px;
    height: 100px;
}
.banner-img{
    width:100px;
}
