@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Courgette&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
.card{
    border: 2px solid #2f0468;
    width: 530px;
    margin: 50px 350px;
    padding: 20px;
    border-radius: 20px;
    background-color: #94cbff;
    color: #2f0468;
}
.card:hover{
    box-shadow: 0 5px 28px #2f0468;
    transform: translateY(-6px); 
    color: #2f0468;
    transition: 0.3s;
}
h1{
    text-align: center;
    color: #2f0468;
}
h1:hover{
    transform: rotate(360deg);
    transition: all 0.8s ease;
}
.main-section{
    margin-top: 20px;
    color: #2f0468;
}
.section{
    margin: 10px -3px;
    padding-left: 8px;
}
.label{
    font-size: 18px;
}
.text{
    height: 35px;
    width: 100%;
    border-radius: 5px;
    border: 1.5px solid #2f0468;
    color: #2f0468;
}
.text:hover{
    height: 40px;
    border-radius: 8px;
    border: 2px solid #2f0468;
    transition: 0.2s;
}
.icon{
    font-size: 30px;
}
.radio-btn{
    margin: 20px 0px;
}
.account{
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
}
.btn{
    width: 100%;
    padding: 10px 0px;
    border: none;
    margin: 10px 0;
    border-radius: 20px;
    font-size: 18px;
    background-color: #2f0468;
    color: #94cbff;
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-decoration: none;
}
.or{
    text-align: center;
    font-size: 15px;
}

.sign-btn{
    width: 100%;
    height: 40px;
    background-color: #2f0468;
    color: #94cbff;
    border-radius: 30px;
    border: 1.8px solid #2f0468;
    font-family: "Aclonica", sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}
.signup-btn{
    border-bottom: 1px solid #2f0468;
}
.btn:hover{
    background-color: #6509dc;
}
.sign-btn:hover{
    background-color: #6509dc;
}
.log{
    text-decoration: none;
}
.terms{
    font-size: 12px;
    margin: 20px;
    color: #2f0468;
}
.logo{
    height: 20px;
}
@media screen and (max-width: 599px)
{
    h1{
        font-size: 30px;
    }
    .card{
        width: 70%;
        margin: 8% 13%;
    }
    .label{
        font-size: 17px;
    }
    .text:hover{
        height: 40px;
        transition: 0.3s;
    }    
    .sign-btn{
        font-size: 15px;
    }
    .account{
        font-size: 14px;
    }

}

@media screen and (min-width: 600px) and (max-width: 768px){
    h1{
        font-size: 35px;
    }
    .card{
        width: 70%;
        margin: 8% 13%;
    }
    .label{
        font-size: 20px;
    }
    .sign-btn{
        font-size: 18px;
    }
    .account{
        font-size: 16px;
    }

}


