/*
colors we are using
skyblue:#94cbff
purple:#2f0468
faint purple: #6509dc
*/

@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Courgette&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.navbar{
    background-color: #94cbff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 80px;
}
.nav-text{
    color: #2f0468;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
}
.nav-text:hover{
    color: #94cbff;
    background-color: #2f0468;
    border-radius: 20px;
    transition: 0.5s;
}
.head{
    display: flex;
    align-items: center;
    margin: 10px 20px;
}
.tagline{
    color: #2f0468;
    border-radius: 10px;
    width: 300px;
}
.head-left{
    border-radius: 10px;
    padding: 20px;
}
.btn{
    background-color: #2f0468;
    color: #94cbff;
    border: none;
    border-radius: 30px;
    padding: 20px;
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
.section{
    display: flex;
    justify-content: space-around;
}
.section-icon{
    height: 200px;
}
.section-card{
    border: 2px solid #2f0468;
    height: 230px;
    padding: 20px;
    text-align: center;
}
.section-card:hover{
    box-shadow: 0px 0px 20px 3px black;
}
